/BucleOlaCurso/nbproject/private/
/BucleOlaCurso/build/
/DezPrimeirosNumeros/nbproject/private/
/DezPrimeirosNumeros/build/
/DezPrimeirosNumerosWhile/nbproject/private/
/DezPrimeirosNumerosWhile/build/
/DezNumerosImpares/nbproject/private/
/DezNumerosImpares/build/
