/BucleOlaCurso/nbproject/private/
/BucleOlaCurso/build/
/DezPrimeirosNumeros/nbproject/private/
/DezPrimeirosNumeros/build/
/DezPrimeirosNumerosWhile/nbproject/private/
/DezPrimeirosNumerosWhile/build/
/DezNumerosImpares/nbproject/private/
/DezNumerosImpares/build/
/numerosImparesNegativos/nbproject/private/
/numerosImparesNegativos/build/
/multiplicacion/nbproject/private/
/multiplicacion/build/
/tablado5/nbproject/private/
/tablado5/build/
/numeroprimo/nbproject/private/
/numeroprimo/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/numeroelevado/nbproject/private/
/numeroelevado/build/
/MultiplosDeCinco/nbproject/private/
/MultiplosDeCinco/build/
/tarot/nbproject/private/
/JavaApplication19/nbproject/private/
/tablasMultiplicar/nbproject/private/
/Table/nbproject/private/
/Table/build/
/pimo2.8/nbproject/private/
/pimo2.8/build/
/tarot/build/
/WorkingDay/nbproject/private/
/matriz/nbproject/private/
/matriz/build/
/pen/nbproject/private/
/pen/build/
/getBigger/nbproject/private/
/getBigger/build/
/TETRIS/Teistris/dist/
/TETRIS/Teistris/build/
