/BucleOlaCurso/nbproject/private/
/BucleOlaCurso/build/
/DezPrimeirosNumeros/nbproject/private/
/DezPrimeirosNumeros/build/
/DezPrimeirosNumerosWhile/nbproject/private/
/DezPrimeirosNumerosWhile/build/
/DezNumerosImpares/nbproject/private/
/DezNumerosImpares/build/
/numerosImparesNegativos/nbproject/private/
/numerosImparesNegativos/build/
/multiplicacion/nbproject/private/
/multiplicacion/build/
/tablado5/nbproject/private/
/tablado5/build/
/numeroprimo/nbproject/private/
/numeroprimo/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/numeroelevado/nbproject/private/
/numeroelevado/build/
